form {
  background: white;
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

form input, form select, form textarea {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  background: #2563eb;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 5px;
}