h2 {
  text-align: center;
  margin-top: 20px;
}

input, select {
  padding: 6px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  background: white;
  width: 220px;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  border-radius: 10px;
  height: 130px;
  object-fit: cover;
}

.card h3 {
  margin: 10px 0;
}

.card p {
  margin: 5px 0;
}

.card button {
  margin-top: 10px;
  background: #10b981;
  color: white;
  border: none;
  padding: 7px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background: #059669;
}